:root {
    --mint: #95e1d3;
    --mint-hover: #f38181;
    --text: #999999;
    --title: #333333;
}
@font-face {
    font-family: 'fontawesome';
    src: url("../fonts/fontawesome-webfont.woff2") format("woff2");
    src: url("../fonts/fontawesome-webfont.woff") format("woff");
    src: url("../fonts/fontawesome-webfont.ttf") format("truetype");
}
*:hover{
    transition: all .2s linear;
}
.wrapper{
    width: 1200px;
    margin: auto;
    color: var(--text);
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
section{
    padding-bottom: 80px;
}
.menu-block{
    padding: 31px 0;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.title::after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: var(--mint-hover);
    margin: auto;
}
.logo{
    display: block;
    float: left;
    font-size: 30px;
    font-weight: 700;
    color: var(--mint);
    text-decoration: none;
    line-height: 32px;
    font-family: 'Montserrat', sans-serif;
}
.logo span{
    text-transform: uppercase;

}
.logo:hover{
    color: var(--mint-hover);
}

.main-menu{
    float: right;
}
.main-menu li{
    float: left;
    display: block;
    margin-right: 56px;
    position: relative;
}
.main-menu a{
    display: block;
    font-size: 14px;
    color: var(--mint);
    line-height: 34px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.main-menu a:hover, .main-menu .active a{
    text-decoration: none;
    color: var(--mint-hover);
}
.main-menu li::before{
    content: '';
    display: none;
    width: 100%;
    height: 3px;
    background: var(--mint-hover);
    position: absolute;
    bottom: 0;
}
.main-menu li.active::before,
.main-menu li:hover::before{
    display: block;
}
.main-menu li:last-child{
    margin-right: 0;
}

.team-title{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: var(--title);
    line-height: 48px;
    padding-bottom: 30px;
}
.subtitle{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    text-transform: none;
    color: var(--title);
    line-height: 42px;
}

.services-items{
    display: flex;
    flex-wrap: wrap;

}
.services-items li{
    width: 33%;
    padding: 45px 30px;
    display: flex;
}
.services-icon{
    margin-right: 30px;
}
.services-title{
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: var(--title);
    margin-bottom: 18px;
}
.services-description{
    color: var(--text);
    font-size: 15px;
    line-height: 24px;
}

.team-description{
    padding:42px 88px;
    text-align: center;
    line-height: 24px;
    font-size: 15px;
}
.team-items{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.team-item{
    width: 31.5%;
    height: 470px;
    position: relative;
}
.team-item-image{
    margin-bottom: 25px;
    transform: translate(0, 0);
    transition: transform 0.2s linear;
}
.team-item-image img{
    height: 470px;
    width: auto;
    max-width: 100%;
    object-fit: cover;
}
.team-info{
    text-align: center;
}
.tiam-item-name{
    font-size: 14px;
    color: var(--title);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 30px;
}
.team-item-profesion{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;

}


.team-item-social-links{
    opacity: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s linear;
}

.team-item-social-links li{
    margin-right: 2px;
    width: 40px;
    height: 40px;
    background: #fce38a;
    transition: background 0.2s linear;
}
.team-item-social-links li:hover{
    background: #95e1d3;
}
.team-item-social-links li:last-child{
    margin-right: 0;
}
.team-item::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #95e1d3;
    width: 100%;
    height: 100%;
}

.team-item:hover .team-item-image{
    transform: translate(-10px, -10px);
}
.team-item-image:after{
    content: '';
    opacity: 0;
    transition: opacity 0.2s linear;
    position: absolute;
    top: 0;
    left: 0;
    z-index:1;
    width: 100%;
    height: 470px;
    background: linear-gradient(181deg, rgba(243,129,129,0.8) 0%, rgba(252,227,138,1) 100%); /* w3c */
}
.team-item:hover .team-item-social-links{
    opacity: 1;
}
.team-item:hover .team-item-image::after{
    opacity: 0.6;
}