:root{
    --bold: 'Montserrat', sans-serif;
    --light: 'Roboto', sans-serif;
    --acsent: #ff4e50
}
a{
    display: inline-block;
    text-decoration: none;
    transition: all .2s linear;
    cursor: pointer;
}
*:hover{
    text-decoration: none;
}

.hero{
    height: 540px;
    width: 100%;
    padding-top: 20px;
    background-image: url(../images/main-img-desktop@1x.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #ffffff;
}
.main-head{
    position: absolute;
    top: 20px;
    right: 0;
    width: 100%;
}

.top-nav ul{
    display: flex;
    text-align: center;
    justify-content: center;

}
.top-nav ul li a{
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 0 16px;
    color: #fff;
    font-family: var(--bold);
    line-height: 32px;
    transition: all .2s linear;
}
.top-nav ul li a:hover{
    border: 2px solid #fff;
}
.top-nav ul li a:not(:first-child){
    margin-right: 5px;
}
.top-logo {
    padding-top: 140px;
}
.top-logo a{
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 0 22px;
    line-height: 36px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: var(--bold);
    color: #fff;
    transition: all .2s linear;

}
.top-logo a:hover{
    border: 2px solid #fff;

}
.hero-title{
    font-size: 28px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-family: var(--bold);
    line-height: 36px;
    color: #fff;
}
.sub-title{
    font-size: 18px;
    font-family: var(--light);
    line-height: 20px;
    margin-bottom: 16px;
    color: #fff;
}
.btn, .btn-invert:hover{
    color: #ffffff;
    font-family: var(--bold);
    font-size: 14px;
    line-height: 36px;
    background: var(--acsent);
    padding: 0 26px;
    border-radius: 20px;
    text-decoration: none;
    border: 2px solid var(--acsent);
    transition: all .2s linear;
    min-width: 100%;
}
.btn:hover, .btn-invert{
    color: var(--acsent);
    font-family: var(--bold);
    font-size: 14px;
    line-height: 36px;
    background: #fff;
    padding: 0 26px;
    border-radius: 20px;
    text-decoration: none;
    border: 2px solid var(--acsent);
    transition: all .2s linear;
    min-width: 100%;
}
.partners{
    padding: 70px 0;
    text-align: center;
}
.partners-title{
    font-size: 22px;
    line-height: 24px;
    font-family: var(--bold);
    margin-bottom: 14px;
}
.image{
    position: relative;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: auto;
    margin-bottom: 20px;
}
.image:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 3px solid #fff;
}
.partners-list{
    margin-bottom: 27px;
}
.partners-list > div:nth-child(1) .image:after{
    background: var(--acsent) url(../images/icon_1.png) no-repeat center;
}
.partners-list > div:nth-child(2) .image:after{
    background:  #ffa507  url(../images/icon_2.png) no-repeat center;
}
.partners-list > div:nth-child(3) .image:after{
    background: #1cd7ad  url(../images/icon_3.png) no-repeat center;
}
.partners-list > div:nth-child(4) .image:after{
    background:   url(../images/icon_4.png) no-repeat center #4e73db;
}
.partner-name{
    font-family: var(--bold);
    margin-bottom: 12px;
}
.partner-character{
    font-family: var(--light);
    line-height: 18px;
    color: #666;
    font-size: 14px;
}
.partners-list   > div:not(:first-child){
    margin-top: 26px;
}

/*media query*/
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .hero {
        background-image: url(../images/main-img-desktop@2x.jpg);
    }
}

@media only screen and (min-width: 768px) {
    .hero {
        height: 700px;
    }
    .top-logo {
        padding-top: 15px;
        padding-bottom: 120px;
        text-align: left;
    }
    .partners-list{
        margin-bottom: 65px;
    }

    .main-head{
        top: 38px;
    }
    .top-logo a{
        padding: 0 22px;
        margin: 0;

        /*top: 36px;*/
        /*left: 8.46%;*/
    }
    .top-nav ul {
        justify-content: flex-end;
        padding: 0 30px;
    }
    .btn, .btn-invert:hover, .btn:hover, .btn-invert{
        min-width: auto;
    }
    .hero-title {
        font-size: 48px;
        padding: 0 100px;
        margin-bottom: 40px;
        line-height: 1.2;
    }
    .partners-list > div:nth-child(n){
        margin-top: 0;
    }
    .partners-list > div:nth-child(n+3){
        margin-top: 26px;
    }
    .sub-title {
        font-size: 24px;
        line-height: normal;
        margin-bottom: 30px;
    }
    .partners-title{
        margin-bottom: 32px;
    }
}



@media only screen and (min-width: 1024px) {
    .partners-list > div{
        padding: 0 10px;
    }
    .partners-list > div:nth-child(n){
        margin-top: 0;
    }
    .partners-list{
        margin-bottom: 30px;
    }
    .hero-title{
        padding: 0 200px;
    }
    .top-nav ul{
        padding: 0;
    }
    .top-logo a{
        left: 7%;
    }
}
